{% extends "base.html" %}

{% block title %}Blog Post{% endblock %}

{% block content %}

<div class="col-md-offset-3 col-md-6">
  <h3>New Blog Post</h3>

  {% from "_formhelpers.html" import render_field %}
  <form  action="{{ url_for('post')}}" method="POST" enctype="multipart/form-data" role="form">

      {{ form.hidden_tag() }}

      {{ render_field(form.image, class='form-control form-control-lg', placeholder="Escolha o arquivo") }}
      {{ render_field(form.title, class='form-control form-control-lg', placeholder="Título do Post") }}
      {{ render_field(form.body, class='form-control form-control-lg', rows=8, placeholder="Texto do Post") }}
      {{ render_field(form.category, class='form-control form-control-lg') }}
      {{ render_field(form.new_category, class='form-control form-control-lg', placeholder="Nova categoria") }}

      <button type="submit" class="btn btn-outline-primary">Publicar</button>
  </form>
</div>


{% endblock %}
